body,
html {
  overflow-x: hidden;
  min-width: 1520px;
  height: 100%;
  background-color: rgb(139, 5, 216);
}

canvas {
  margin-left: 14.2%;
  height: 400px;
  background-color: rgb(224, 210, 250);
  width: 550px;
}

header {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 550px;
  border-radius: 5px 5px 0px 0px;
  background-color: indigo;
  color: bisque;
  font-family: Bradley Hand, cursive;
  text-align: center;
  font-size: 20px;
}

header:hover {
  transition: 0.5s;
  background-color: rgb(141, 157, 207);
}

p {
  color: rgb(212, 248, 248);
  margin-left: -45%;
  border-radius: 5px;
  text-align: center;
  width: 330px;
  background-color: chartreuse;
  margin-top: 60px;
  font-size: 28px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 2px 2px 2px rgb(101, 3, 114);
  float: left;
}

p:hover {
  font-weight: 900;
  transition: 0.5s;
  color: indigo;
}

.form-control {
  border-radius: 0px 0px 5px 5px;
  background-color: aliceblue;
  border: 2px solid rgb(43, 2, 109);
}

#username-input {
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -0.7%;
  height: 20%;
  font-size: 14px;
}

#connect-btn {
  width: 200px;
  height: 60px;
  margin-top: 20px;
  margin-left: 106px;
  font-size: 18px;
  font-family: Bradley Hand, cursive;
  background-color: darkslateblue;
}

#container {
  width: 50%;
  margin: auto;
  height: 80%;
}

.chat-box {
  margin-left: auto;
  margin-right: auto;
  width: 550px;
  height: 400px;
}

.chat-content {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.chat-messages {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 550px;
  padding: 0px;
  background-color: rgb(224, 210, 250);
  overflow-y: auto;
}

.chat-message {
  opacity: 0.65;
  width: 510px;
  border: 2px solid rgb(83, 73, 223);
  background-color: rgb(68, 15, 192);
  min-height: 20px;
  margin-left: 20px;
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 10px;
}

.chat-messages-empty {
  font-size: 25px;
  font-weight: 800;
  font-family: Bradley Hand, cursive;
  padding: 20px;
  color: rgb(111, 86, 131);
  margin-top: 180px;
  text-align: center;
}
.chat-message-time {
  margin-left: 440px;
  font-family: Bradley Hand, cursive;
  color: rgb(108, 159, 253);
  font-size: 14px;
}
.chat-message-time:hover {
  text-shadow: 1px 1px 1px rgb(250, 172, 250);
}
.chat-message-content {
  font-family: Bradley Hand, cursive;
  font-size: 16px;
  color: antiquewhite;
  opacity: 1;
  margin-bottom: 3px;
  margin-top: 3px;
  margin-left: 8px;
  word-wrap: break-word;
}
.chat-message-content:hover {
  text-shadow: 1px 1px 1px rgb(250, 172, 250);
}

.chat-message-author {
  opacity: 1;
  color: antiquewhite;
  text-decoration: underline;
  text-decoration-color: rgb(108, 159, 253);
  margin-left: 8px;
  font-family: Bradley Hand, cursive;
  float: left;
  font-size: 16px;
}
.chat-message-author:hover {
  text-shadow: 1px 1px 1px rgb(250, 172, 250);
}

.activeUsers {
  position: absolute;
  font-size: 24px;
  margin-left: -15%;
  margin-top: 2.9%;
}

.UsersOnFrame {
  margin-top: 35%;
  font-size: 28px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  width: 330px;
  border-radius: 10px;
  margin-left: -45%;
  height: 60px;
}

.chat-users {
  color: rgb(212, 248, 248);
  text-shadow: 2px 2px 2px rgb(36, 29, 7);
  float: left;
  margin-top: -80.8%;
  margin-left: -13.8%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #a4ffe8;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, #00d9ff, #e014d6);
}

footer {
  font-size: 14px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #4d1080;
  margin-top: 40px;
  color: rgb(255, 252, 77);
  text-align: center;
}
a {
  color: rgb(255, 252, 77);
}

a:hover {
  text-decoration: none;
  color: darkorchid;
  font-size: 14px;
}
